.desktop {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
}

.desktop .div {
  background-color: rgba(255, 255, 255, 1);
  background: radial-gradient(50% 50% at 50% 50%, rgb(0, 0, 0) 0%, rgb(0, 8.43, 24.79) 80.67%);
  width: 1440px;
  height: 900px;
  position: relative;
}

.desktop .main-tiles {
  position: absolute;
  width: 1202px;
  height: 720px;
  top: 132px;
  left: 206px;
}

.desktop .chance-of-rain {
  position: absolute;
  width: 374px;
  height: 414px;
  top: 306px;
  left: 516px;
  background-color: #121212;
  border-radius: 11px;
  border: 1px solid;
  border-color: var(--tileoutline);
  box-shadow: var(--tile-effect);
  backdrop-filter: blur(80px) brightness(100%);
  -webkit-backdrop-filter: blur(80px) brightness(100%);
}

.desktop .frame {
  display: flex;
  width: 373px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
  position: absolute;
  top: 122px;
  left: 0;
  transform: rotate(-90deg);
}

.desktop .frame-2 {
  display: flex;
  width: 210px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  margin-left: -95.5px;
  transform: rotate(90deg);
}

.desktop .text-wrapper {
  width: 39px;
  margin-top: -1px;
  font-weight: 400;
  font-size: 13px;
  text-align: right;
  letter-spacing: 0.13px;
  line-height: 18.8px;
  position: relative;
  font-family: "Inter", Helvetica;
  color: #ffffff;
}

.desktop .text-wrapper-2 {
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  font-size: 13px;
  text-align: right;
  letter-spacing: 0.13px;
  line-height: 18.8px;
  white-space: nowrap;
  position: relative;
  font-family: "Inter", Helvetica;
  color: #ffffff;
}

.desktop .frame-3 {
  display: inline-flex;
  flex-direction: column;
  height: 210px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
  margin-left: -87.5px;
}

.desktop .group {
  position: relative;
  width: 229px;
  height: 30px;
  background-color: #c7d6ff;
  border-radius: 100px;
}

.desktop .rectangle {
  width: 94px;
  height: 30px;
  background-color: #2027d5;
  border-radius: 100px;
}

.desktop .rectangle-2 {
  width: 121px;
  height: 30px;
  background-color: #2027d5;
  border-radius: 100px;
}

.desktop .rectangle-3 {
  width: 139px;
  height: 30px;
  background-color: #2027d5;
  border-radius: 100px;
}

.desktop .rectangle-4 {
  width: 193px;
  height: 30px;
  background-color: #2027d5;
  border-radius: 100px;
}

.desktop .frame-4 {
  display: flex;
  width: 210px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  margin-right: -90.5px;
  margin-left: -87.5px;
  transform: rotate(90deg);
}

.desktop .text-wrapper-3 {
  position: relative;
  width: 32px;
  height: 29px;
  margin-top: -1px;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  white-space: nowrap;
  font-family: "Inter", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
}

.desktop .chance-of-rain-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 19px;
  left: 19px;
}

.desktop .group-wrapper {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: var(--material-themesyslightsurface);
  border-radius: 13px;
}

.desktop .img {
  position: absolute;
  width: 14px;
  height: 15px;
  top: 6px;
  left: 6px;
}

.desktop .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: var(--tile-headings-font-family);
  font-weight: var(--tile-headings-font-weight);
  color: #ffffff;
  font-size: var(--tile-headings-font-size);
  letter-spacing: var(--tile-headings-letter-spacing);
  line-height: var(--tile-headings-line-height);
  white-space: nowrap;
  font-style: var(--tile-headings-font-style);
}

.desktop .today-s-forecast {
  position: absolute;
  width: 492px;
  height: 237px;
  top: 483px;
  left: 0;
  background-color: #121212;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--tileoutline);
  box-shadow: var(--tile-effect);
  backdrop-filter: blur(80px) brightness(100%);
  -webkit-backdrop-filter: blur(80px) brightness(100%);
}

.desktop .today-s-forecast-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 14px;
  left: 14px;
}

.desktop .union-wrapper {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 13px;
}

.desktop .union {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 6px;
  left: 6px;
}

.desktop .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -0.29px;
  font-family: var(--tile-headings-font-family);
  font-weight: var(--tile-headings-font-weight);
  color: #ffffff;
  font-size: var(--tile-headings-font-size);
  letter-spacing: var(--tile-headings-letter-spacing);
  line-height: var(--tile-headings-line-height);
  white-space: nowrap;
  font-style: var(--tile-headings-font-style);
}

.desktop .group-2 {
  position: absolute;
  width: 420px;
  height: 142px;
  top: 68px;
  left: 35px;
}

.desktop .frame-5 {
  display: flex;
  width: 389px;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: 117px;
  left: 28px;
}

.desktop .text-wrapper-6 {
  width: fit-content;
  margin-top: -1px;
  font-weight: 300;
  font-size: 8px;
  letter-spacing: 0.08px;
  line-height: 24.3px;
  white-space: nowrap;
  position: relative;
  font-family: "Inter", Helvetica;
  color: #ffffff;
}

.desktop .line {
  position: absolute;
  width: 391px;
  height: 3px;
  top: 12px;
  left: 28px;
}

.desktop .overlap-group {
  position: absolute;
  width: 392px;
  height: 69px;
  top: 36px;
  left: 28px;
}

.desktop .line-2 {
  position: absolute;
  width: 391px;
  height: 3px;
  top: 21px;
  left: 0;
}

.desktop .line-3 {
  position: absolute;
  width: 391px;
  height: 3px;
  top: 67px;
  left: 0;
}

.desktop .vector {
  position: absolute;
  width: 391px;
  height: 69px;
  top: 0;
  left: 0;
}

.desktop .frame-6 {
  display: inline-flex;
  flex-direction: column;
  height: 114px;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}

.desktop .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop .text-wrapper-8 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.desktop .forecast {
  position: absolute;
  width: 492px;
  height: 146px;
  top: 307px;
  left: 0;
  background-color: var(--tile);
  border-radius: 10px;
  border: 1.26px solid;
  border-color: var(--tileoutline);
  box-shadow: 0px 7.57px 25.23px #00000033;
  backdrop-filter: blur(100.92px) brightness(100%);
  -webkit-backdrop-filter: blur(100.92px) brightness(100%);
}

.desktop .overlap {
  position: relative;
  width: 489px;
  height: 112px;
  top: 15px;
  left: 1px;
}

.desktop .group-3 {
  position: absolute;
  width: 426px;
  height: 112px;
  top: 0;
  left: 32px;
}

.desktop .div-wrapper {
  position: absolute;
  width: 35px;
  height: 112px;
  top: 0;
  left: 0;
}

.desktop .group-4 {
  position: relative;
  width: 39px;
  height: 112px;
}

.desktop .text-wrapper-9 {
  position: absolute;
  width: 35px;
  height: 26px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16.3px;
  letter-spacing: 0.16px;
  line-height: 23.7px;
  white-space: nowrap;
}

.desktop .text-wrapper-10 {
  position: absolute;
  width: 33px;
  height: 26px;
  top: 85px;
  left: 2px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19.8px;
  letter-spacing: 0;
  line-height: 23.7px;
  white-space: nowrap;
}

.desktop .group-5 {
  position: absolute;
  width: 37px;
  height: 112px;
  top: 0;
  left: 77px;
}

.desktop .group-6 {
  position: relative;
  width: 41px;
  height: 112px;
}

.desktop .text-wrapper-11 {
  position: absolute;
  width: 21px;
  height: 26px;
  top: 85px;
  left: 7px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19.8px;
  letter-spacing: 0;
  line-height: 23.7px;
  white-space: nowrap;
}

.desktop .element {
  position: absolute;
  width: 37px;
  height: 26px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15.1px;
  letter-spacing: 0;
  line-height: 23.7px;
  white-space: nowrap;
}

.desktop .span {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15.1px;
  letter-spacing: 0;
  line-height: 23.7px;
}

.desktop .text-wrapper-12 {
  font-size: 11.4px;
}

.desktop .group-7 {
  position: absolute;
  width: 33px;
  height: 110px;
  top: 1px;
  left: 158px;
}

.desktop .group-8 {
  position: relative;
  width: 37px;
  height: 110px;
}

.desktop .text-wrapper-13 {
  position: absolute;
  width: 21px;
  height: 26px;
  top: 83px;
  left: 5px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19.8px;
  letter-spacing: 0;
  line-height: 23.7px;
  white-space: nowrap;
}

.desktop .element-am {
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15.1px;
  line-height: 23.7px;
  white-space: nowrap;
}

.desktop .text-wrapper-14 {
  letter-spacing: 0.02px;
}

.desktop .text-wrapper-15 {
  font-size: 11.4px;
  letter-spacing: 0;
}

.desktop .group-9 {
  position: absolute;
  width: 34px;
  height: 110px;
  top: 1px;
  left: 236px;
}

.desktop .group-10 {
  position: relative;
  width: 38px;
  height: 110px;
}

.desktop .text-wrapper-16 {
  position: absolute;
  width: 30px;
  height: 26px;
  top: 84px;
  left: 2px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19.8px;
  letter-spacing: 0;
  line-height: 23.7px;
  white-space: nowrap;
}

.desktop .element-pm {
  position: absolute;
  height: 24px;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 15.1px;
  line-height: 23.7px;
  font-family: "Inter", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .group-11 {
  position: absolute;
  width: 25px;
  height: 110px;
  top: 1px;
  left: 319px;
}

.desktop .group-12 {
  position: relative;
  width: 29px;
  height: 110px;
}

.desktop .text-wrapper-17 {
  position: absolute;
  width: 21px;
  height: 26px;
  top: 84px;
  left: 1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19.8px;
  letter-spacing: 0;
  line-height: 23.7px;
  white-space: nowrap;
}

.desktop .group-13 {
  position: absolute;
  width: 32px;
  height: 112px;
  top: 0;
  left: 395px;
}

.desktop .text-wrapper-18 {
  position: absolute;
  width: 30px;
  height: 26px;
  top: 85px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19.8px;
  letter-spacing: 0;
  line-height: 23.7px;
  white-space: nowrap;
}

.desktop .element-wrapper {
  position: absolute;
  width: 28px;
  height: 26px;
  top: 0;
  left: 1px;
}

.desktop .p {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15.1px;
  letter-spacing: 0;
  line-height: 23.7px;
  white-space: nowrap;
}

.desktop .frame-7 {
  position: absolute;
  width: 489px;
  height: 29px;
  top: 43px;
  left: 0;
}

.desktop .element-day {
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 720px;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 914px;
  background-color: var(--tile);
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--tileoutline);
  box-shadow: var(--tile-effect);
  backdrop-filter: blur(80px) brightness(100%);
  -webkit-backdrop-filter: blur(80px) brightness(100%);
}

.desktop .next-days {
  display: flex;
  width: 228px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.desktop .back {
  position: relative;
  width: 12.51px;
  height: 22.51px;
  margin-left: -1.25px;
}

.desktop .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--tile-headings-font-family);
  font-weight: var(--tile-headings-font-weight);
  color: #ffffff;
  font-size: var(--tile-headings-font-size);
  letter-spacing: var(--tile-headings-letter-spacing);
  line-height: var(--tile-headings-line-height);
  white-space: nowrap;
  font-style: var(--tile-headings-font-style);
}

.desktop .forward {
  position: relative;
  width: 12.51px;
  height: 22.51px;
  margin-right: -1.25px;
}

.desktop .line-4 {
  position: relative;
  width: 228px;
  height: 1px;
  margin-bottom: -401.3px;
  margin-left: -2030px;
  object-fit: cover;
}

.desktop .frame-8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .frame-9 {
  display: flex;
  flex-direction: column;
  width: 63px;
  height: 45px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.desktop .text-wrapper-20 {
  position: relative;
  width: 63px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.desktop .text-wrapper-21 {
  width: fit-content;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  position: relative;
  font-family: "Inter", Helvetica;
  color: #ffffff;
}

.desktop .sun-cloud {
  position: relative;
  width: 39.73px;
  height: 36px;
}

.desktop .temperature {
  width: 63px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.desktop .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.desktop .text-wrapper-23 {
  position: relative;
  width: 25px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffffad;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.desktop .line-5 {
  position: relative;
  width: 229px;
  height: 1px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  object-fit: cover;
}

.desktop .img-2 {
  position: relative;
  width: 36px;
  height: 36px;
}

.desktop .text-wrapper-24 {
  position: relative;
  width: 26px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffffad;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.desktop .temperature-2 {
  width: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.desktop .text-wrapper-25 {
  position: relative;
  width: 25px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffffad;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.desktop .icon-cloudy {
  height: 23.2px;
  position: relative;
  width: 36px;
}

.desktop .thunderstorm {
  position: relative;
  width: 35.97px;
  height: 36px;
}

.desktop .text-wrapper-26 {
  position: relative;
  width: 27px;
  height: 20px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffffad;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.desktop .data-points {
  display: flex;
  flex-wrap: wrap;
  width: 589px;
  align-items: flex-start;
  justify-content: center;
  gap: 8px 8px;
  position: absolute;
  top: 0;
  left: 301px;
  overflow: hidden;
}

.desktop .overlap-group-wrapper {
  position: relative;
  width: 192.96px;
  height: 87px;
}

.desktop .overlap-group-2 {
  position: relative;
  width: 191px;
  height: 87px;
  background-color: #121212;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--tileoutline);
  box-shadow: var(--tile-effect);
  backdrop-filter: blur(80px) brightness(100%);
  -webkit-backdrop-filter: blur(80px) brightness(100%);
}

.desktop .data {
  display: flex;
  width: 191px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 18px;
  position: absolute;
  top: 50px;
  left: -1px;
}

.desktop .img-3 {
  position: relative;
  width: 20.9px;
  height: 20.9px;
  margin-top: -0.95px;
  margin-bottom: -0.95px;
  margin-left: -0.95px;
}

.desktop .text-wrapper-27 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-28 {
  width: fit-content;
  font-weight: 400;
  font-size: 6px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  position: relative;
  font-family: "Inter", Helvetica;
  color: #ffffff;
}

.desktop .text-wrapper-29 {
  position: absolute;
  top: 14px;
  left: 66px;
  color: #ffffffb2;
  line-height: normal;
  white-space: nowrap;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
}

.desktop .text-wrapper-30 {
  position: absolute;
  top: 14px;
  left: 67px;
  color: #ffffffb2;
  line-height: normal;
  white-space: nowrap;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0;
}

.desktop .img-4 {
  position: relative;
  width: 20.46px;
  height: 20.46px;
  margin-top: -0.73px;
  margin-bottom: -0.73px;
  margin-left: -0.73px;
}

.desktop .element-chance {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-31 {
  font-weight: 600;
}

.desktop .text-wrapper-32 {
  font-size: 9px;
}

.desktop .frame-10 {
  display: flex;
  width: 36.49px;
  align-items: center;
  gap: 2px;
  position: relative;
}

.desktop .img-5 {
  position: relative;
  width: 6.49px;
  height: 4.46px;
}

.desktop .text-wrapper-33 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 700;
  font-size: 8px;
  line-height: 16px;
  white-space: nowrap;
  font-family: "Inter", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
}

.desktop .text-wrapper-34 {
  position: absolute;
  top: 14px;
  left: 46px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffffb2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .combined-shape {
  position: relative;
  width: 21.11px;
  height: 19px;
}

.desktop .text-wrapper-35 {
  position: absolute;
  top: 14px;
  left: 60px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffffb2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .data-2 {
  display: inline-flex;
  align-items: center;
  gap: 42px;
  position: absolute;
  top: 50px;
  left: 17px;
}

.desktop .ellipse {
  position: relative;
  width: 6.49px;
  height: 6.49px;
  background-color: #1aba46;
  border-radius: 3.24px;
}

.desktop .text-wrapper-36 {
  position: absolute;
  top: 14px;
  left: 59px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffffb2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .group-14 {
  position: relative;
  width: 22px;
  height: 15.19px;
}

.desktop .text-wrapper-37 {
  position: absolute;
  top: 14px;
  left: 74px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffffb2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-38 {
  position: absolute;
  top: 14px;
  left: 76px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffffb2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .waves {
  position: relative;
  width: 21.56px;
  height: 18px;
}

.desktop .text-wrapper-39 {
  position: absolute;
  top: 14px;
  left: 50px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffffb2;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .smart-summary {
  position: absolute;
  width: 277px;
  height: 277px;
  top: 0;
  left: 0;
  background-color: var(--summary-tile);
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--tileoutline);
  box-shadow: var(--tile-effect);
  backdrop-filter: blur(80px) brightness(100%);
  -webkit-backdrop-filter: blur(80px) brightness(100%);
}

.desktop .frame-11 {
  display: inline-flex;
  flex-direction: column;
  height: 221px;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0px;
  position: absolute;
  top: 55px;
  left: -1px;
}

.desktop .frame-12 {
  display: flex;
  width: 277px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 18px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .group-15 {
  position: relative;
  width: 105.1px;
  height: 52px;
}

.desktop .icon-sunny {
  position: absolute;
  width: 38px;
  height: 39px;
  top: 6px;
  left: 0;
}

.desktop .text {
  position: absolute;
  width: 63px;
  height: 52px;
  top: 0;
  left: 48px;
}

.desktop .text-wrapper-40 {
  position: absolute;
  width: 35px;
  height: 15px;
  top: 0;
  left: 1px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #cccccc;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 14.1px;
}

.desktop .text-wrapper-41 {
  position: absolute;
  width: 57px;
  height: 16px;
  top: 18px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 22.5px;
  letter-spacing: 0;
  line-height: 14.1px;
}

.desktop .text-wrapper-42 {
  position: absolute;
  width: 56px;
  height: 15px;
  top: 37px;
  left: 1px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #cccccc;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 14.1px;
}

.desktop .group-16 {
  position: relative;
  width: 105.6px;
  height: 45.49px;
}

.desktop .vector-2 {
  position: absolute;
  width: 39px;
  height: 39px;
  top: 0;
  left: 0;
}

.desktop .text-2 {
  position: absolute;
  width: 61px;
  height: 34px;
  top: 11px;
  left: 49px;
}

.desktop .text-wrapper-43 {
  position: absolute;
  width: 57px;
  height: 16px;
  top: 0;
  left: 0;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 14.1px;
  font-family: "Inter", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
}

.desktop .text-wrapper-44 {
  position: absolute;
  width: 56px;
  height: 15px;
  top: 19px;
  left: 1px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #cccccc;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 14.1px;
}

.desktop .frame-13 {
  display: inline-flex;
  flex-direction: column;
  height: 40.45px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
}

.desktop .frame-14 {
  display: flex;
  width: 162.21px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.desktop .group-17 {
  position: relative;
  width: 21.4px;
  height: 15.19px;
}

.desktop .text-wrapper-45 {
  width: 64.19px;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 14.1px;
  position: relative;
  font-family: "Inter", Helvetica;
  color: #ffffff;
}

.desktop .group-18 {
  position: relative;
  width: 20.62px;
  height: 21.2px;
}

.desktop .frame-15 {
  display: flex;
  width: 160.04px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.desktop .group-19 {
  position: relative;
  width: 63.38px;
  height: 13.75px;
}

.desktop .group-20 {
  position: relative;
  width: 65px;
  height: 14px;
}

.desktop .waves-2 {
  position: absolute;
  width: 16px;
  height: 14px;
  top: 0;
  left: 48px;
}

.desktop .text-wrapper-46 {
  position: absolute;
  width: 41px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 14.1px;
}

.desktop .group-21 {
  position: relative;
  width: 58.66px;
  height: 14.25px;
  margin-right: -2px;
}

.desktop .vector-3 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -1px;
  left: 42px;
}

.desktop .text-wrapper-47 {
  position: absolute;
  width: 36px;
  top: 1px;
  left: 0;
  font-weight: 300;
  font-size: 17px;
  line-height: 14.1px;
  font-family: "Inter", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
}

.desktop .group-22 {
  position: relative;
  width: 95px;
  height: 18px;
}

.desktop .group-23 {
  position: absolute;
  width: 14px;
  height: 19px;
  top: -1px;
  left: -1px;
}

.desktop .text-wrapper-48 {
  position: absolute;
  top: 1px;
  left: 22px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .line-6 {
  position: absolute;
  width: 241px;
  height: 1px;
  top: 52px;
  left: 16px;
  object-fit: cover;
}

.desktop .frame-16 {
  display: flex;
  width: 277px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  position: absolute;
  top: 17px;
  left: -1px;
}

.desktop .group-24 {
  position: relative;
  width: 201px;
  height: 26px;
}

.desktop .text-wrapper-49 {
  position: absolute;
  top: 2px;
  left: 33px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .vector-wrapper {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  left: 0;
  background-color: #32d159;
  border-radius: 13px;
}

.desktop .vector-4 {
  position: absolute;
  width: 12px;
  height: 17px;
  top: 5px;
  left: 7px;
}

.desktop .icon-information {
  position: relative;
  width: 19.57px;
  height: 19.57px;
  margin-right: -0.78px;
}

.desktop .header {
  position: absolute;
  width: 1204px;
  height: 48px;
  top: 47px;
  left: 206px;
  background-color: transparent;
}

.desktop .profile {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 1154px;
}

.desktop .search {
  position: absolute;
  width: 332px;
  height: 48px;
  top: 0;
  left: 794px;
  background-color: #42506b47;
  border-radius: 92px;
}

.desktop .search-location {
  position: absolute;
  top: 15px;
  left: 58px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  background: transparent;
  border: none;
  padding: 0;
}

.desktop .search-2 {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 14px;
  left: 29px;
}

.desktop .greeting-message {
  position: absolute;
  width: 278px;
  height: 40px;
  top: 4px;
  left: 351px;
}

.desktop .text-wrapper-50 {
  position: absolute;
  top: 8px;
  left: 63px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .group-25 {
  position: absolute;
  width: 43px;
  height: 43px;
  top: -2px;
  left: -2px;
}

.desktop .date {
  position: absolute;
  top: 15px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .nav {
  position: absolute;
  width: 179px;
  height: 900px;
  top: 0;
  left: 0;
  background-color: #1b1b1d;
}

.desktop .logout {
  position: absolute;
  width: 143px;
  height: 40px;
  top: 812px;
  left: 22px;
}

.desktop .text-wrapper-51 {
  position: absolute;
  width: 58px;
  top: 11px;
  left: 51px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #dcdcdc;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .img-wrapper {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 10px;
  background-color: #6f6a6c;
  border-radius: 15px;
}

.desktop .logout-2 {
  position: absolute;
  width: 21px;
  height: 18px;
  top: 6px;
  left: 6px;
}

.desktop .share {
  position: absolute;
  width: 83px;
  height: 30px;
  top: 748px;
  left: 32px;
}

.desktop .group-26 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-color: #6e6a6b;
  border-radius: 15px;
}

.desktop .group-27 {
  position: absolute;
  width: 14px;
  height: 16px;
  top: 7px;
  left: 8px;
}

.desktop .text-wrapper-52 {
  position: absolute;
  top: 4px;
  left: 41px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #dcdcdc;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .group-28 {
  position: absolute;
  width: 143px;
  height: 264px;
  top: 132px;
  left: 22px;
}

.desktop .settings {
  position: absolute;
  width: 143px;
  height: 40px;
  top: 224px;
  left: 0;
}

.desktop .text-wrapper-53 {
  position: absolute;
  width: 60px;
  top: 11px;
  left: 51px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #dcdcdc;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .vector-wrapper-2 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 10px;
  background-color: #6e6a6b;
  border-radius: 15px;
}

.desktop .img-6 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 6px;
  left: 6px;
}

.desktop .offline-mode {
  position: absolute;
  width: 143px;
  height: 40px;
  top: 149px;
  left: 0;
}

.desktop .text-wrapper-54 {
  position: absolute;
  width: 48px;
  top: 11px;
  left: 51px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #dcdcdc;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .vector-5 {
  position: absolute;
  width: 14px;
  height: 18px;
  top: 6px;
  left: 8px;
}

.desktop .map {
  position: absolute;
  width: 143px;
  height: 40px;
  top: 75px;
  left: 0;
}

.desktop .text-wrapper-55 {
  position: absolute;
  width: 32px;
  top: 11px;
  left: 51px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #dcdcdc;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .dashboard {
  position: absolute;
  width: 143px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #dcdcdc;
  border-radius: 9px;
}

.desktop .text-wrapper-56 {
  position: absolute;
  width: 81px;
  top: 11px;
  left: 51px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .dashboard-wrapper {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 10px;
  background-color: #c1bfbf;
  border-radius: 15px;
}

.desktop .group-29 {
  position: absolute;
  width: 29px;
  height: 19px;
  top: 47px;
  left: 34px;
}
