/* Forecast.css */

.forecast-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  
  .forecast-title {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    margin-top: 1.5rem;
  }
  
  .forecast-title-text {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
  
  .forecast-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Space items around evenly */
  }
  
  .forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forecast-item-text {
    font-weight: 300;
    font-size: 1.3rem; /* Adjust size as needed */
  }
  
  .forecast-item-icon {
    width: 5rem; /* Adjust size as needed */
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
  .forecast-item-temperature {
    font-size: 1.3rem;
  }
  