.input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
  }
  
  .input-wrapper input {
    font-size: 0.8rem;
    margin-right: 1rem;
    color: #718096;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 0.375rem rgba(0, 0, 0, 0.1);
    outline: none;
    text-transform: capitalize;
  }
  
  .input-wrapper2 {
    display: flex;
    align-items: center;
  }

  .input-wrapper2 button {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: normal;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    padding: 0.25rem 0.75rem;
    transition: transform 0.2s ease-out;
  }
  
  
  .input-wrapper input::placeholder {
    color: #a0aec0; /* Placeholder text color */
  }
  
  .input-wrapper button {
    font-size: 1rem;
    font-weight: normal;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    padding: 0.25rem 0.75rem;
    transition: transform 0.2s ease-out;
  }
  
  .input-wrapper button:hover {
    transform: scale(1.05);
  }
  
  .icon {
    cursor: pointer;
    transition: transform 0.2s ease-out;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .icon:hover {
    transform: scale(1.05);
  }
  