.time-location-datetime {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

.time-text {

}

.time-location-location {
    font-size: 2rem;
    text-align: center;
}

.location-text {
    
}