.app-container {
  max-width: 100%; /* equivalent to max-w-screen-md in Tailwind CSS */
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.25rem; /* equivalent to py-5 in Tailwind CSS */
  padding-bottom: 1.25rem; /* equivalent to py-5 in Tailwind CSS */
  padding-left: 8rem; /* equivalent to px-32 in Tailwind CSS */
  padding-right: 8rem; /* equivalent to px-32 in Tailwind CSS */
  background-image: linear-gradient(to bottom right, #38b2ac, #4299e1); /* equivalent to bg-gradient-to-br in Tailwind CSS */
  height: fit-content; /* equivalent to h-fit in Tailwind CSS */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); /* equivalent to shadow-xl and shadow-gray-400 in Tailwind CSS */
  
}

.from-cyan-700.to-blue-700 {
  background-image: linear-gradient(to bottom right, #38b2ac, #4299e1);
}

.from-yellow-700.to-orange-700 {
  background-image: linear-gradient(to bottom right, #ffdc16, #f59e0b);
}
  

body {
    background-color: #1D2837;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh; /* Ensure full height */
}

#topLine, #midLine, #bottomLine {
    height: 3px;
    width: 30px;
    background-color: white;
    float: left;
}

#topLine, #midLine {
    margin-bottom: 0.5rem;
}

#hamburger {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #1B1B1D;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
}

li {
    padding: 0.5rem;
    
}

.menuItems {
    display: flex;
    align-items: center; /* Align items vertically */
    font-size: 1.5rem;
}

.menuItems img {
    margin-right: 1rem; /* Add some spacing between image and text */
}

.menuItems a {
    color: white; /* Set text color */
    text-decoration: none; /* Remove underline */
    display: flex; /* Ensure the anchor element is flex */
    align-items: center; /* Align items vertically */
}



#menu {

}


#extra {

}

article {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

#topBar {
    padding-top: 1rem;
    width: 100%;
}


#main {
    display: grid;
    grid-template-areas: 
        "overview info info info future"
        "forecast forecast rain rain future"
        "forecast forecast rain rain future"
        "graph graph rain rain future"
        "graph graph rain rain future"
        "graph graph rain rain future";
    gap: 2rem;
    height: 100%;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
  
#overview {
    grid-area: overview;
    background-color: #02C73933;
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Horizontally center the items */
    
}

.day-background {
    grid-area: overview;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Daytime gradient */
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Horizontally center the items */
}

.night-background {
    grid-area: overview;
    background: linear-gradient(to right, #383e56, #4379b7); /* Nighttime gradient */
    border-radius: 10px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Horizontally center the items */
}


#info {
    grid-area: info;
    background-color: #121212;
    border-radius: 10px;
    align-items: center;
}

#forecast {
    grid-area: forecast;
    background-color: #28384e;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#graph {
    grid-area: graph;
    background-color: #121212;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

#rain {
    grid-area: rain;
    background-color: #121212;
    border-radius: 10px;
    display: flex; /* Ensure it's a flex container */
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.future {
    grid-area: future;
    background-color: #28384e;
    border-radius: 10px;
    padding: 1rem;
}
