/* Importing Poppins font from Google Fonts for use throughout the website */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Base styles for the entire document */
html {
font-family: "Poppins", sans-serif;
color: whitesmoke;
}

/* Styling for leaflet maps, adding rounded corners */
.leaflet-container {
    border-radius: 0.5rem;
  }
  
body {
  background-color: #1D2837;
  height: 100vh;
  width: 100vw; 
  display: flex; 
  justify-content: center;
  overflow-x: hidden;
}

/* General layout for articles, including flex properties for alignment and spacing */
article {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  max-width: 95%;
  max-height: 98%;
}

/* Styling for the top bar section */
#topBar {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
/* Top Buttons*/
.top-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  gap: 10pt;
}
.top-buttons-bttn{
  cursor: pointer;
  color: #769dcc;
  font-weight: bold;
  background-color: transparent;
  border: none;
  font-size: medium;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10pt;
  justify-content: center;
}

.loc-loc{
  font-weight: normal;
}

/* Main grid layout for the page, defining areas for various weather information */
#main {
  display: grid;
  grid-template-areas: 
      "overview info info info future"
      "forecast forecast rain rain future"
      "forecast forecast rain rain future"
      "graph graph rain rain future"
      "graph graph rain rain future"
      "graph graph rain rain future";
  gap: 1rem;
  height: 98%;
  width: fit-content;
  padding-top: 1rem;
  max-width: 100%;
  max-height: 98%;
}
  
#overview {
  grid-area: overview;
  background-color: #02C73933;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
/* Responsive media queries adjusting the grid layout at different viewport widths */@media (max-width: 1440px) {
  #main {
    grid-template-areas: 
      "overview info info info"
      "forecast forecast rain rain"
      "forecast forecast rain rain"
      "graph graph rain rain"
      "graph graph rain rain"
      "graph graph rain rain"
      "future future future future";
  }

}

@media (max-width: 1230px) {
  #main {
    grid-template-areas: 
      "overview info info info"
      "forecast forecast graph graph"
      "forecast forecast graph graph"
      "rain rain rain rain"
      "future future future future";
  }
}

@media (max-width: 693px) {
  #main {
    grid-template-areas: 
      "overview"
      "info"
      "forecast"
      "graph"
      "rain"
      "future";
  }

}

/* Styling for day and night backgrounds, using gradients for visual effect */
.day-background {
  grid-area: overview;
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Daytime gradient */
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.night-background {
  grid-area: overview;
  background: linear-gradient(to right, #383e56, #4379b7); /* Nighttime gradient */
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#info {
    grid-area: info;
    background-color: #121212;
    border-radius: 10px;
    align-items: center;
}

#forecast {
    grid-area: forecast;
    background-color: #28384e;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hours {
    grid-area: graph;
    background-color: #121212;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#someInfo {
    grid-area: rain;
    background-color: #121212;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

#future {
    grid-area: future;
    background-color: #28384e;
    border-radius: 10px;
    padding: 1rem;
}

/*Login and Logout button*/

#log-button, .unit-button{
  display: flex;
  align-items: center;
  font-size: large;
  color: white;
  border: 1pt solid white;
  background-color: transparent;
  border-radius: 0.375rem;
  padding: 0.25rem 1rem;
  margin-left: 5pt;
  transition: transform 0.3s ease;
  cursor: pointer;
  justify-content: center;
}
.unit-button{
    padding: 0.25rem 0.75rem;
}
#log-button:hover, .unit-button:hover{
    transform: scale(1.05);
    background-color: white;
    color: black;
}

.logIcon{
  padding-right: 5pt;
}

/*Profile*/

.profile {
    border-radius: 100%;
    width: 4rem;
    border: 1px solid;
    margin-left: 10pt;
}

/*Details*/

.detail-item {
    display: flex;
    align-items: center;
    margin: 1rem;
    text-align: center;
}

.detail-text {
  font-weight: bold;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  font-size: 1.12rem;
}

.detail-data {
  font-weight: normal;
  font-size: 1.1rem;
}

.horizontal-details {
  display: flex;
  justify-content: space-between;
}

.vertical-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
    
/*Forecast*/

.forecast-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
  }


.forecast-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-item-text{
  font-size: 1.2rem;
  font-weight: bold;
}

.forecast-divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  color: #717d8d;
} 

.forecast-item-temperature {
  font-size: 1.1rem;
}

@media screen and (max-width: 1230px) {
  .vertical-details{
    flex-wrap: wrap;
    justify-content: center;
  }

  .forecast-items-container {
    gap: 2rem;
    flex-wrap: wrap;
  }
}

  
  /* ForecastDaily */

.forecast-container2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
  
.forecast-title2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forecast-divider2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
}
  
.forecast-title-text2 {
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}
  
.forecast-items-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.forecast-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%; /*fit two items in a row */
}
  
.forecast-item-text2 {
    font-weight: bold;
    font-size: 1.2rem; 
}
  
.forecast-item-icon2 {
    width: 3rem; 
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
  
.forecast-item-temperature2 {
    font-size: 1.1rem;
}

@media (max-width: 1572px) {
  .forecast-items-container2 {
    row-gap: 2rem;
    column-gap: 3rem;
    margin-bottom: 1.5rem;
  }
  .forecast-item2 {
    flex-direction: row;
    width: auto;
    justify-content: center;
    gap: 1rem;
  }
}
/* Inputs */
.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
  }
  .profile{
    height: 2rem;
    width: auto;
  }

  .input-wrapper input {
    font-size: 0.9rem;
    margin-right: 1rem;
    color: #515255;
    border-radius: 0.375rem;
    border: none;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 0.375rem rgba(104, 99, 99, 0.1);
    text-transform: capitalize;
  }
  
  .input-wrapper2 {
    display: flex;
    align-items: center;
  }

  .input-wrapper2 button {
    font-size: 1rem;
    margin-left: 1rem;
    font-weight: normal;
    border: 1px solid #e2e8f0;
    border-radius: 0.375rem;
    padding: 0.25rem 0.75rem;
    transition: transform 0.2s ease-out;
  }
  
  
  .input-wrapper input::placeholder {
    color: #38506e; /* Placeholder text color */
  }
  
  .icon {
    cursor: pointer;
    transition: transform 0.2s ease-out;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .icon:hover {
    transform: scale(1.05);
  }

  @media (max-width: 642px) {
    .input-container {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
    }
    #log-button{
      margin-left: 1rem;
    }
  }
  
  /* TemperatureAndDetails */

  .weather-condition {
    display: flex;
    justify-content: center;
    color: #f7e7d2;
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .temperature-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .weather-icon {
    width: 6rem; 
    height: 6rem;
  }
  
  .temperature {
    margin-top: 1rem;
    font-size: 2rem;
  }

  /* TimeAndLocation */
  .time-location-datetime {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

.time-location-location {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

/* WeatherDetails */
.weather-details {
  display: flex; /* Add flex display */
  flex-direction: column; /* Set flex direction to column */
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;    
}

.detail-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.detail-icon2 {
margin-right: 0.5rem;
}

.detail-text2 {
font-weight: bold;
font-size: 1.12rem;
}

.detail-data2 {
display: flex;
font-size: 1.1rem;
flex-direction: row;
font-weight: normal;
align-items: center;
}

@media (max-width: 1230px) {
  .weather-details {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }
  .detail-item2 {
    flex-direction: row;
    gap: 1rem;
  }
}

